services:
    certbot:
        image: certbot/certbot:latest
        container_name: ${APP_NAME}-certbot
        command: ["/bin/sh", "-c", "certbot certonly --webroot --webroot-path=/var/www/certbot -d novapc74.twc1.net -d www.novapc74.twc1.net --agree-tos --email novapc74@yandex.ru --non-interactive --server https://acme-v02.api.letsencrypt.org/directory --rsa-key-size 4096 --verbose --keep-until-expiring || true; echo '0 */12 * * * certbot renew --quiet && docker exec tg-bot-template-nginx-prod nginx -s reload' > /etc/crontabs/root; crond -f"]
        volumes:
            - ./volumes/letsencrypt:/etc/letsencrypt
            - ./project/public/.well-known/acme-challenge/:/var/www/certbot
        environment:
            - TERM=xterm
        networks:
            - tg-bot-network

networks:
    tg-bot-network:
        external: true

volumes:
    letsencrypt:
        name: letsencrypt_keys
