services:
    nginx:
        restart: always
        image: ghcr.io/novapc74/repository/tg_nginx:master
        container_name: ${APP_NAME}-nginx-prod
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./project:/project
            - ./certbot:/var/www/certbot_container_path
            - ./conf:/etc/letsencrypt
        depends_on:
            - php-fpm
        networks:
            - tg-bot-network

    php-fpm:
        image: ghcr.io/novapc74/repository/tg_php-fpm:master
        container_name: ${APP_NAME}-php-fpm-prod
        ports:
            - "9000:9000"
        volumes:
            - ./project:/project
        networks:
            - tg-bot-network

    php-cli:
        image: ghcr.io/novapc74/repository/tg_php-cli:master
        container_name: ${APP_NAME}-php-cli-prod
        volumes:
            - ./project:/project
        networks:
            - tg-bot-network

networks:
    tg-bot-network:
        external: true
