services:
    certbot:
        image: certbot/certbot:latest
        container_name: ${APP_NAME}-certbot
        command: sh -c "certbot certonly --webroot --webroot-path=/var/www/certbot -d novapc74.twc1.net -d www.novapc74.twc1.net --agree-tos --email novapc74@yandex.ru --non-interactive --server https://acme-v02.api.letsencrypt.org/directory --rsa-key-size 4096 --verbose --keep-until-expiring"
        entrypoint: ""
        volumes:
            - ./volumes/letsencrypt:/etc/letsencrypt
            - ./volumes/certbot:/var/www/certbot
        environment:
            - TERM=xterm
        networks:
            - tg-bot-network

networks:
    tg-bot-network:
        external: true

volumes:
    letsencrypt:
        name: letsencrypt_keys
