version: '3.8'

services:
    certbot:
        image: certbot/certbot:latest
        container_name: ${APP_NAME}-certbot
        entrypoint: ["sh", "-c"]
        command: >
            if [ ! -d /etc/letsencrypt/live/novapc74.twc1.net ]; then
              certbot certonly --webroot --webroot-path=/project/public
              -d novapc74.twc1.net -d www.novapc74.twc1.net
              --agree-tos --email novapc74@yandex.ru --non-interactive
              --server https://acme-v02.api.letsencrypt.org/directory
              --rsa-key-size 4096 --verbose --keep-until-expiring;
            fi &&
            echo '0 */12 * * * certbot renew --quiet && docker exec ${APP_NAME}-nginx-prod nginx -s reload' > /etc/crontabs/root &&
            crond -f
        volumes:
            - ./volumes/letsencrypt:/etc/letsencrypt
            - ./volumes/webroot:/project/public
        environment:
            - TERM=xterm
        networks:
            - tg-bot-network

networks:
    tg-bot-network:
        external: true

volumes:
    letsencrypt:
        name: letsencrypt_keys
